<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; @DateTime.Now.Year; by My Shop
        <br />
    </div>
    <div class="footer-right">
        1.0.0
    </div>
</footer>